.btn-primary {
  background-color: var(--dark-purple-background);
  color: white;
  padding: 16px 36px;
  border: none;
  border-radius: 14px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  box-shadow: 0 10px 25px rgba(58, 36, 186, 0.25);
  justify-content: center;
}

.btn-primary:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(58, 36, 186, 0.35);
}
