@import "../src/Main.css";

.difference-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.difference {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.difference-card {
  padding: 25px;
  border: 1px solid var(--border-color);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 434px;
  min-width: 421px;
}
.difference-card .lucide {
  background-color: var(--light-dark-purple);
  padding: 10px;
  height: 42px;
  width: 42px;
  border-radius: 10px;
}

.position {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.position-available {
  font-size: 1.25rem;
  font-weight: 500;
}
.commitment-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.commitment,
.impact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.commitment h4,
.impact h4 {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--gray-font-color);
}
.further-info {
  font-size: 0.95rem;
  line-height: 1.5;
  color: var(--gray-font-color);
}
.commitment p,
.impact p {
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.5;
}
